---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading"><i class="fas fa-igloo"></i>{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <!-- 最新記事 -->
  <section>
    {% assign latest = site.posts | first %}
    {% if latest %}
      <article class="post">
        <header class="post-header">
          <h2 class="post-title"><i class='fas fa-globe'></i>{{ latest.title | escape }}</h2>
        </header>

        <div class="post-content">
          {{ latest.content }}
        </div>
      </article>
    {% endif %}
  </section>
</div>
